table{
    border-collapse: collapse;
    width: 350px;
}
th, td{
    border: 1px solid black;
    padding: 8px;
}
.row__brand{
    background-color: rgb(148, 23, 221);
    color: white;
    text-align: center;
    font-weight: bold;
}
.cell__model{
    background-color: rgb(211, 137, 251);
    color: white;
    text-align: center;
    font-weight: bold;
}